<!DOCTYPE html>
<html>

<head>
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import materialize.css-->
  <link type="text/css" rel="stylesheet" href="/static/css/materialize.min.css" media="screen,projection" />

  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>Body Type Estimator</title>
</head>

<body>

  <!-- ./ CONTAINER BEGINS -->
  <div class="container">
    <div class="row">
      <div class="col s12">
        <h2 class="center-align">Body Type Estimator</h2>
      </div>
    </div>
    <div id="preloaderDiv" class="row" style="display:None;">
      <div class="col s12">
        <img src="/static/img/webapp.png" alt="" class="responsive-img">
      </div>
      <div class="col s12">
        <h5>Waiting For The Server Response</h5>
      </div>
      <div class="col s12">
        <div class="progress">
          <div class="indeterminate"></div>
        </div>
      </div>
      <div class="col s12">
        <img src="/static/img/machine-learning.png" alt="" class="responsive-img">
      </div>
    </div>
    <div id="formHeaderDiv" class="row">
      <h4>Eating Habits and Physical Condition Form</h4>
    </div>
    <div id="formDiv" class="row">
      <form class="col s12">
        <div class="row">
          <div class="col s12 m6">
            <p>What is your gender?</p>
          </div>
          <div class="col s12 m6">
            <p>
              <input class="with-gap" required type="radio" name="gender" id="male">
              <label for="male">Male</label>
            </p>
            <p>
              <input class="with-gap" required type="radio" name="gender" id="female">
              <label for="female">Female</label>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="height" type="text" class="validate" required="">
            <label for="height">What is your height?</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="weight" type="text" class="validate" required="">
            <label for="weight">What is your weight?</label>
          </div>
        </div>
        <div class="row">
          <div class="col s12 m6">
            <p>Do you eat high caloric food frequently?</p>
          </div>
          <div class="col s12 m6">
            <p>
              <input class="with-gap" required type="radio" name="FAVC" id="FAVC_yes">
              <label for="FAVC_yes">Yes</label>
            </p>
            <p>
              <input class="with-gap" required type="radio" name="FAVC" id="FAVC_no">
              <label for="FAVC_no">No</label>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <select id="FCVC" required="required">
              <option value="" disabled selected>Do you usually eat vegetables in your meals?</option>
              <option value="1">Never</option>
              <option value="2">Sometimes</option>
              <option value="3">Always</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <select id="CH2O" required="required">
              <option value="" disabled selected>How much water do you drink daily?</option>
              <option value="1.0">1 L</option>
              <option value="1.5">1.5 L</option>
              <option value="2.0">2 L</option>
              <option value="2.5">2.5 L</option>
              <option value="3">3 L</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <select id="CALC" required="required">
              <option value="" disabled selected>How often do you drink alcohol?</option>
              <option value="0">I do not drink</option>
              <option value="1">Sometimes</option>
              <option value="3">Frequently</option>
              <option value="6">Always</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col s12 m6 offset-m3">
            <button id="predictBodyTypeButton" class="btn green waves-effect waves-light"><i class="material-icons left">online_prediction</i> Predict Body Type</button>
          </div>
        </div>

      </form>
    </div>

  </div>
  <!-- ./ CONTAINER END -->
  <!-- FOOTER -->
  <footer class="page-footer green">
    <div class="container">
      <div class="row">
        <div class="col s12 m6">
          <h5>About Me</h5>
          <a class="white-text" href="https://www.linkedin.com/in/hikmetyavuz/">LinkedIn</a>
          <br>
          <a class="white-text" href="https://github.com/AyberkYavuz">Github</a>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        Copy &copy; 2021
      </div>
    </div>
  </footer>

  <!--Import jQuery before materialize.js-->
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="/static/js/materialize.min.js"></script>
  <script type="text/javascript" src="/static/js/initialize_form_components.js"></script>
  <script type="text/javascript" src="/static/js/server_request_handler.js"></script>
</body>


</html>